<nav>
    <a class="button" href="/">Home</a>
    <a class="button" href="/series">Series</a>
    <a class="button" href="/temporadas">Seasons</a>
    <a class="button" href="/contact">Contact</a>
    <a class="button" href="/about">About</a>
    <a class="button" href="/api-docs">Api docs</a>
</nav>
<br>


