<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
<header>
    <%- include('./partials/header.ejs'); %>
</header>
<div class="flex">
    <div class="left">
        <img src="./../images/saad.png" alt="">
    </div>
    <div class="right">
        <h2>Saadeddine Habib</h2>
        <h5>Estudiant i Tecnic informatic</h5>
        <p>
            Saadeddine Habib, un apassionat pel món de la informàtica, actualment cursant estudis en Desenvolupament d'Aplicacions Multiplataforma (DAM) i especialitzant-se en Sistemes Microinformàtics i Xarxes (SMIX). Amb un sòlid títol com a Tècnic Informàtic, Saadeddine demostra un compromís constant amb la seva educació i desenvolupament professional.
            <br>
            <br>
            No només domina els aspectes tècnics de la informàtica, sinó que també demostra habilitats socials que faciliten la col·laboració i el treball en equip.
            <br>
            <br>
            Amb una ment inquisitiva i una actitud proactiva, Saadeddine Habib busca constantment aprendre i aplicar els seus coneixements en el camp de la tecnologia. El seu enfocament amable i positiu cap als altres crea un ambient propici per a la col·laboració i l'intercanvi d'idees.
        </p>
    </div>
</div>
</body>
</html>