<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<header>
    <%- include('./partials/header.ejs'); %>
</header>
<h1>Netflow</h1>
<img style="text-align: center" src="https://wallpapers.com/images/featured/film-background-fwuwqptvgv1k0jco.jpg">
<div class="column center" >
    <a class="button" href="/series">Series</a>
    <br>
    <a class="button" href="/temporadas">Temporades</a>
    <br>
    <a class="button" href="/series/insert">Insert series</a>
    <br>
    <a class="button" href="/temporadas/insert">Insert temporades</a>
    <br>
    <a class="button" href="/api-docs">Api docs</a>
</div>
<body>
</body>
<footer>
    <%- include('./partials/footer.ejs'); %>
</footer>
</html>
